html{
    font-family: 'Caveat', cursive;
    background-image: url(./images/k.jpg);
    background-size: cover;
    background-position: center;
}
#k{
    text-align: center;
}
h1{
    font-size: 50px;
    color: firebrick;
    /* background-color:rgb(233, 197, 185) */
}
/* *{
    background-color: rgb(240, 236, 218);
} */
h1{
    font-size: 70px;
}
h2{
    font-size: 40px;
}
p{
    font-weight: bold;
    color:saddlebrown;
    font-size: 30px;
}
#a{
    color:brown;
    font-size:30px;
}
#b{
   
    position: relative;
    left: 1000px;
    
    }
#c{
    color: darkred;
    font-size: 60px;
    font-weight: bold;
}